*.swp
*.pyc
.DS_Store
/.coverage
/dist/
/build/
/MANIFEST
/wagtail.egg-info/
/docs/_build/
/.tox/
/venv
/node_modules/
npm-debug.log*
*.idea/
/*.egg/

### JetBrains
.idea/
*.iml
*.ipr
*.iws
coverage/
client/node_modules
env/
/app/
/wagtailsaas.egg-info/
client/etc/
wagtail/__pycache__/
wagtail/api/__pycache__/
wagtail/api/v2/__pycache__/
wagtail/bin/__pycache__/
wagtail/contrib/__pycache__/
wagtail/contrib/modeladmin/__pycache__/
wagtail/contrib/modeladmin/helpers/__pycache__/
wagtail/contrib/modeladmin/templatetags/__pycache__/
wagtail/utils/__pycache__/
wagtail/wagtailadmin/__pycache__/
wagtail/wagtailadmin/api/__pycache__/
wagtail/wagtailadmin/migrations/__pycache__/
wagtail/wagtailadmin/templatetags/__pycache__/
wagtail/wagtailadmin/urls/__pycache__/
wagtail/wagtailadmin/views/__pycache__/
wagtail/wagtailadmin/viewsets/__pycache__/
wagtail/wagtailalytics/__pycache__/
wagtail/wagtailcore/__pycache__/
wagtail/wagtailcore/blocks/__pycache__/
wagtail/wagtailcore/management/__pycache__/
wagtail/wagtailcore/migrations/__pycache__/
wagtail/wagtailcore/permission_policies/__pycache__/
wagtail/wagtailcore/templatetags/__pycache__/
wagtail/wagtaildocs/__pycache__/
wagtail/wagtaildocs/api/__pycache__/
wagtail/wagtaildocs/api/admin/__pycache__/
wagtail/wagtaildocs/api/v2/__pycache__/
wagtail/wagtaildocs/migrations/__pycache__/
wagtail/wagtaildocs/views/__pycache__/
wagtail/wagtailembeds/__pycache__/
wagtail/wagtailembeds/finders/__pycache__/
wagtail/wagtailembeds/migrations/__pycache__/
wagtail/wagtailembeds/templatetags/__pycache__/
wagtail/wagtailembeds/views/__pycache__/
wagtail/wagtailexperiments/__pycache__/
wagtail/wagtailexperiments/backends/__pycache__/
wagtail/wagtailexperiments/migrations/__pycache__/
wagtail/wagtailfontawesome/__pycache__/
wagtail/wagtailforms/__pycache__/
wagtail/wagtailforms/migrations/__pycache__/
wagtail/wagtailimages/__pycache__/
wagtail/wagtailimages/api/__pycache__/
wagtail/wagtailimages/api/admin/__pycache__/
wagtail/wagtailimages/api/v2/__pycache__/
wagtail/wagtailimages/migrations/__pycache__/
wagtail/wagtailimages/templatetags/__pycache__/
wagtail/wagtailimages/views/__pycache__/
wagtail/wagtailredirects/__pycache__/
wagtail/wagtailredirects/migrations/__pycache__/
wagtail/wagtailsearch/__pycache__/
wagtail/wagtailsearch/backends/__pycache__/
wagtail/wagtailsearch/management/__pycache__/
wagtail/wagtailsearch/migrations/__pycache__/
wagtail/wagtailsearch/urls/__pycache__/
wagtail/wagtailsearch/views/__pycache__/
wagtail/wagtailsites/__pycache__/
wagtail/wagtailsnippets/__pycache__/
wagtail/wagtailsnippets/views/__pycache__/
wagtail/wagtailtenant/__pycache__/
wagtail/wagtailtenant/management/__pycache__/
wagtail/wagtailtenant/management/commands/__pycache__/
wagtail/wagtailtenant/migration_executors/__pycache__/
wagtail/wagtailtenant/postgresql_backend/__pycache__/
wagtail/wagtailtenant/templatetags/__pycache__/
wagtail/wagtailusers/__pycache__/
wagtail/wagtailusers/migrations/__pycache__/
wagtail/wagtailusers/templatetags/__pycache__/
wagtail/wagtailusers/urls/__pycache__/
wagtail/wagtailusers/views/__pycache__/
wagtailsaas.egg-info/
